<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                a:focus {font-weight: bold;}
            </style>
        
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a id="productIndex" href="{{ path('product_index') }}">Seznam produktů</a></li>
                    <li><a id="purchaseOrderIndex" href="{{ path('purchase_order_index') }}"> Seznam objednávek </a></li>
                    <li><a id="productNew" href="{{ path('product_new') }}">Nový produkt</a></li>
                    <li><a id="purchaseOrderNew" href="{{ path('purchase_order_new') }}"> Nová objednávka </a></li>
                </ul>
            {% endblock %}
        

        
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
